{% extends 'base.html.twig' %}
{% block css %}
    .buttons{
        display:flex;
        justify-content:space-around;
    }
    .content{
        margin:2vh 2vw;
        display:grid;
        grid-template-rows:1fr 3fr 1fr;
        grid-gap:5vw;
    }
    .header{

    }
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="content">
        <div class="header">
            <p>Creado por {{ user.getUsername() }}</p>
            <p>Fecha: {{ createat }}</p>
        </div>
        <div class="row">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="buttons">
            <a href="#" class="btn btn-success">Create Post</a>
        </div>
    </div>

{% endblock %}