{% extends 'base.html.twig' %}
{% block css %}
    .footer_post{
        display:flex;
        justify-content:space-around;
    }
    .content{
        margin:2vh 2vw;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat({{ length+1 }},1fr);
        grid-gap:5vw;
    }
    .new{
        margin:2vh 2vw;
        width:94%;
    }
    .new a{
        font-size:24px;
        width:48%;
    }
{% endblock %}


{% block body %}
    <div class="new">
        <a href="#" class="btn btn-primary">Editar mis posts</a>
        <a href="{{ path('new_post')}}" class="btn btn-primary">Crear un post</a>

    </div>
    <div class="content">
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <div>
                    <h3 class="card-title">{{ post.title }}</h3><p class="text-muted">{{ post.createAt|date("d-m-Y") }}</p>
                    <p class="card-text">{{ post.content|slice(0, 230)}}...</p>
                </div>
                <div class="footer_post">
                    <a href="#" class="btn btn-primary">Ver Post</a>
                    {% if user == post.user %}
                        <a href="#" class="btn btn-success">Editar mi Post</a>
                    {% else %}
                        <a href="#" class="btn btn-info">Mas de {{ post.author }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}